.inptitle{
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    padding: 1.4rem 2rem 1.6rem;
    background: rgba(57, 63, 84, 0.8);
    border: none;
    color: rgb(14, 14, 14);
    margin-left: 750px;
    margin-top: -135px;
    border-bottom: 4px solid #37003c;
    border-radius: 20px;
    background:#fff;
    border: solid black;
    border-color: black;
    float:left; 
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    height: 2px;
}
.inptitle::placeholder{
    color: rgb(91, 90, 90);
    font-size: 20px;
}

.add{
width: 50px;
height: 50px;
background-color: transparent;
/* border-color: aqua;
 */
 color: #37003c;
position: absolute;
margin-left: 1100px;
margin-top: -145px;
}